*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* background border */
.orange{
    background-color: orange;
}

.lightblue{
    background-color: lightblue;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}

.green{
    background-color: green;
}

.black{
   background-color: #23272a;
}
.grey{
    background-color: #f6f6f6;
}
.white{
    background-color: white;
}

.border{
    border: 0.5px solid black;
}

/* header start */
.container_header{
    background-color: #3161e0;
}
.row_header{
    margin: 0 auto;
    max-width: 1000px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_header25, .column_header50{
    height: 40px;
}

.column_header25{
    
    text-align: center;
    width: 20%;
    
}
.column_header50{
    width: 59%;
    margin-left: 10px;
}
.column_header50 ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

.column_header50 li{
    padding-top: 10px;
    text-align: center;
    width: 20%;
}
a{
    color: white;
    text-decoration: none;
}
.column_header25 button{
    padding: 12px 15px;
    background-color: white;
    color: black;
    border: transparent;
    border-radius: 20px 20px;
    
}
/* header end */

/* main start */

/* section 1 */

.container_sect1{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.row_sect1{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.column_sect1 {
    text-align: center;
    color: white;
    width: 50%;
    margin: 60px 0 120px 0;
}
.column_sect1 h1{
    margin-top: 20px;
    font-size: 50px;
}
.column_sect1 p{
    margin: 30px 0 15px 0 ;
    font: 20px;
    line-height: 20px;
}

.button_black{
    padding: 12px 18px;
    border: transparent;
    border-radius: 20px 20px;
    background-color: black;
    color: white;
    
}
.button_white{
    padding: 12px 18px;
    border: transparent;
    border-radius: 20px 20px;
    background-color: white;
    color: black;
    
}
.button_blue{
    padding: 12px 18px;
    border: transparent;
    border-radius: 20px 20px;
    background-color: #8ea1e1;
    color: white;
    
}

.button_sect1 .button_white{
    margin-right: 15px;
}

/* section 2  */
.container_sect2{
    margin: 90px 0 0 0;
}
.row_sect2{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_sect2_left{
    width: 69%;
}

.item1{
    height: 80%;
    width: 80%;
    margin: 10px;
}
.column_sect2_right{
    width: 30%;
    height: 400px ;
    text-align:left;
}
.column_sect2_right h2{
    font-size: 35px ;
    margin: 40px 0 40px 0;
}

/* section 5 */

.row_sect5{
    max-width: 1000px;
    height: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_sect5{
    width: 100%;
    text-align: center;
    margin: 90px 0;
}

.column_sect5 h2{
    font-size: 35px ;
    margin: 40px 0 40px 0;
}

.column_sect5 h3{
    font-size: 20px ;
}

.column_sect5 button{
    margin: 20px 0;
}

/* footer */

.container_sect6{
    padding: 50px 0;
}

.row_sect6{
    max-width: 1000px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.column_sect6_first{
    width: 30%;
    height: 400px ;
}

.section_sect6{
    margin: 20px;
}

.section_sect6 h2{
    font-size: 30px;
    margin: 20px 0 20px 0;
    color: #7188d9;
}
.section_sect6 img{
    width: 20px;
    height: 15px;
}
.section_sect6 span{
    color:white;
}
.social{
    margin-top: 20px;
    font-size: 25px;
    color: white;
}

.column_sect6_second{
    
    width: calc(70%/4);
    height: 400px;
} 

.column_sect6_second ul{
    font-size: 20px;
    list-style-type: none;
    margin: 20px;
}

.column_sect6_second li{
    margin-top: 10px;
}


.color_li{
    color: #7188d9;
}
    

.container_footer{
    padding: 15px 0;
}

.row_footer{
    margin: 0 auto;
    max-width: 1000px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #2c3340;
}

.column-footer2{
    text-align: center;
}